body {
  font-family: helvetica,'Georgia',arial,sans-serif;
  background-color: #fafbf1;
  color: #3C3C3C;
}

h1 {
  font-size: 24px;
  line-height: 48px;
  font-weight: 100;
  letter-spacing: 1px;
  border-bottom: 1px solid #3c3c3c;
}

h1 strong {
  text-transform: uppercase;
  font-weight: bold;
}

#container {
  width: 980px;
  margin:  0 auto;
}

/* world */
ul.territory_options{list-style: none; margin: 0; padding: 0; vertical-align: top; width: 100%;}
ul.territory_options li{display: block; width: 100%; vertical-align: top;}
/* continent groups */
ul.territory_options ul.territory_options{display: block; width: 100%;} 
ul.territory_options ul.territory_options li{display: inline-block; width: 20%;}
/* indivdual territories */
ul.territory_options ul.territory_options li ul.territory_options li{display: block; width: 100%;}
